<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="./css/common.css" />
		<link rel="stylesheet" type="text/css" href="./css/content.css" />
		<title>XXX - 车辆管理 - 已登陆</title>
	</head>
	<body>
		<script src="/scripts/mouse_save_version.js" type="text/javascript" charset="utf-8"></script>
		<div id="container">
			<div class="title">
				<span id="user-bar"></span>您好！您已登录-欢迎使用小区业主车辆信息管理系统<span id="time-bar"></span>
			</div>
			<div class="on-left">
				<div class="car-message-management same">
					<h1>车辆信息管理</h1>
					<p>对当前小区内的车辆信息进行管理</p>
					<div class="btn" id="cars-mes">
						点击<br>管理
					</div>
				</div>
				<div class="car-user-message-management same">
					<h1>车主信息管理</h1>
					<p>对当前小区各车辆车主信息进行管理</p>
					<div class="btn" id="users-mes">
						点击<br>管理
					</div>
				</div>
				<div class="system same">
					<h1>管理员管理</h1>
					<p>对该系统管理员账户(小区物业账户),小区车主账户进行管理</p>
					<div class="btn" id="main-mes">
						点击<br>管理
					</div>
				</div>
			</div>
			<div class="on-right">
				<div id="change"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		<script src="/scripts/content.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
